{% extends "_base.html" %}

{% block conteudo %}

    <h3>Compromissos</h3>

    <form action="compromisso_adc.php" method="POST">
        <input type="text" name="titulo" placeholder="Escreva o titulo do compromisso"><br>

        <input type="date" name="data_cmp">

        <input type="submit" value="Adicionar">
    </form>

    <form action="compromissos.php" method="GET">
        <select name="ordenar" onchange="this.form.submit()">
            <option value="asc-date" {% if ordem == 'asc-date' %}selected{% endif %}>Ordenar por data (crescente)</option>
            <option value="des-date" {% if ordem == 'des-date' %}selected{% endif %}>Ordenar por data (decrescente)</option>
            <option value="alphabet" {% if ordem == 'alphabet' %}selected{% endif %}>Ordenar alfabéticamente</option>
        </select>
    </form>

    <h3>Minha lista de compromissos</h3>

    <ul>
        
        {% for compromisso in compromissos %}

            <li> {{compromisso['titulo']}} | {{compromisso['data_cmp']}} |{% if compromisso['data_cmp'] in weekends%} É fim de semana. | {% endif %} <a href="compromisso_rm.php?id={{compromisso['id']}}">Apagar</a> | <a href="compromisso_edt.php?id={{compromisso['id']}}">Editar</a></li>

        {% endfor %}

    </ul>

{% endblock %}