{% extends "_base.html" %}

{% block conteudo %}

    <h3>Adicionar items</h3>

    <form action="compras_adc.php" method="POST">
        <input type="text" name="item" placeholder="Escreva o nome do item">

        <input type="submit" value="Adicionar">
    </form>

    <h3>Minha lista de compras</h3>
    <ul>
        
        {% for compra in compras %}

            <li> {{compra['item']}}
            
                <a href="compras_rm.php?id={{compra['id']}}">Apagar</a>
                |
                <a href="compras_edt.php?id={{compra['id']}}">Editar</a>

            </li>

        {% endfor %}

    </ul>

{% endblock %}